@media only screen and (max-width: 992px) {
    html {
        font-size: 16px;
    }

    .main-nav {
        margin-bottom: 30px;
    }

    

    /* ---------- ABOUTS ---------*/
    .about-section .about-picture {
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
    }

    /* -----------PRODUCT -------------*/
    .product-section .product-main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 4%;
        width: 90%;
        margin: auto;
    }
    .product {
        margin-bottom: 0px;
    }

    .product-section .product-main .product:last-child {
        grid-column: 1 / 3;
        width: 50%;
        margin: auto;
    }

    /*------------ TESTIMONIALS --------------*/
    .testimonials-section .testimonials-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
    }
    .testimonials img{
        height: 60px;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 5px;
    }

    .testimonials:last-child {
        margin-top: 50px;
        margin-left: 40%;
    }

    /*-------------- CONTACTS -------------------*/
    .contact .contact-address i{
        display:  block;
        margin-bottom: 5px;
        margin-top: 15px;
    }
    .form {
        width: 95%;
    }
    .input-comment input, textarea {
        width: 95%;
    }
}

@media only screen and (max-width: 768px) {
    /*---------- HEADER -----------------*/
    .navbar .logo {
        grid-column-start: 1;
        grid-column-end: 3;
    
    }
    .logo img {
        width: 100%;
        margin-top: -10%;
        margin-left: 10%;
    }

    .contact-section {
        font-size: 14px;
    }
    .form {
        padding-left: 0px;
    }
    .navigation {
        visibility: hidden;
    }
}

@media only screen and (max-width: 576px) {
    /* ------- HEADER ----------- */
    .header .navbar {
        grid-template-rows: 0px;
    }
    .logo img {
        width: 130%;
        margin-left: -3%;
    }

    .heading-main-box {
        margin-left: 10px;
    }

    .heading-main-box  h1{
        font-size: 200%;
        font-weight: 400;
        margin-bottom: 10px;
        text-transform: uppercase;
        line-height: 2.5rem;
    }

    .heading-main-box .btn {
        margin-bottom: 10px;
        width: 120px;
    }

     /* ------- ABOUTS -------- */
     .about-section .about-picture {
        grid-template-columns: 1fr;
        width: 80%;
    }
    .about-picture {
        font-size: 1.1rem;
    }

    /*------ PRODUCT ------- */
    .product-section .product-main {
        display: block;
        margin-top: 50px;
    }
    .product {
        margin-bottom: 30px;
    }

    .product-section .product-main .product:last-child {
        width: 100%;
    }

     /*------------ TESTIMONIALS --------------*/
     .testimonials-section .testimonials-main {
        display: block;
    }
    .testimonials{
        margin-bottom: 60px;
    }
    .testimonials img{
        height: 70px;
        margin-right: 5px;
    }

    .testimonials:last-child {
        margin-top: 0px;
        margin: auto;
    }
    blockquote {
        margin-bottom: 10px;
    }

    /* -------- SPONSOR --------- */
    .sponsors-section .sponsors-main {
        grid-row-gap: 10px;
        width: 80%;
    }
    .logo-sponsors {
        font-weight: 700;
        font-size: .6rem;
    }
    .logo-sponsors img {
        width: 70%;
    }
    .logo-sponsors img:hover,
    .logo-sponsors img:active {
        transform: scale(1.5);
    }

    /* -------- CONTACTS ----------------- */
    .contact-section {
        display: block;
    }

    .form {
        margin: auto;
        margin-top: 20px;
    }

    /*  FOOTER */
    .footer {
        height: 30px;
        font-size: 1rem;
        padding: 20px;
    }
}