    /* ------------------------------------------------------------------ */
/* -------------------------------DEFAULT SETUP ----------------------------------- */
    /* ------------------------------------------------------------------ */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 20px;
    color: #fff;
}

/* ------------------------------------------------------------------ */
    /*----------------- REUSABLE COMPONENT ---------------------*/
/* ------------------------------------------------------------------ */
.btn {
    display: inline-block;
    text-decoration: none;
    background-color: #f39c12;
    padding: 13px 10px;
    border-radius: 15px;
    margin-right: 10px;
    width: 150px;
    color: #fff;
    text-align: center;
}

.btn:hover,
.btn:active {
    background-color: #e67e22;
}

.title-section {
    color:  #e67e22;
    font-size: 1.1rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.title-section::after {
    content: "";
    border: 2px solid #e67d22c2 ;
    border-radius: 20%;
    width: 7rem;
    display: block;
    clear: both;
    margin: auto;
    margin-bottom: 20px;
}

.section {
    padding: 70px 0px;
}

i {
    color: #3501f1;
    font-size: 1.3rem;
    margin-right: 15px;
}

ul {
    list-style: none;
}

    /* ------------------------------------------------------------------ */
/*---------------------------------- HEADER ------------------------------------*/
    /* ------------------------------------------------------------------ */

.header {
    display: grid;
    background-image: linear-gradient(54deg, rgba(17,7,66,1) 0%, rgba(11,234,244,0.3085609243697479) 100%), url(./img/background4.jpeg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}
.header .navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px;
}

.navbar .logo {
    grid-column-start: 1;
    grid-column-end: 2;

}
.logo img {
    width: 100%;
    margin-top: -20%;
}
.navbar .navigation {
    grid-column-start: 2;
    grid-column-end: 4;
    justify-self: center;
    align-self: end;
}

.header .jumbotron {
    justify-self: center;
}
.main-nav {
    display: flex;
    margin-bottom: 15px;
}

.main-nav .nav-item a {
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 500;
    font-size: 1.2rem;
}

.main-nav .nav-item a:hover,
.main-nav .nav-item a:active {
    border-bottom: 1.5px solid #eee;
    transition: all .2s;
}
.header .heading-main-box {
    margin-bottom: 20px;
}

.heading-main-box  h1{
    font-size: 300%;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: uppercase;
    line-height: 3.7rem;
}

    /* ------------------------------------------------------------------ */
/*---------------------------------- ABOUTS ------------------------------------*/
    /* ------------------------------------------------------------------ */
.about-section {
    display:grid;
    grid-template-columns: 1fr;
    margin-bottom: 50px;
}

.about-section .intro {
    color: #273c75;
    width: 70%;
    margin: auto;
    text-align: center;
    margin-bottom:60px;
}

.about-section .about-picture {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    width: 90%;
    margin: auto;
    text-align: center;
}
.about-picture .picture{
    position: relative;
}

.about-section .picture img{
    width: 90%;
    border-radius: 15px;
    border: 1px solid #273c75;
    box-shadow: 5px 5px 15px 2px #273c75;
}

.picture .title-picture {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.about-section .picture:hover img,
.about-section .picture:active img {
    filter: brightness(70%) blur(3px);
    transition: all .3s;
}

.about-section .picture:hover .title-picture,
.about-section .picture:active .title-picture {
    transition: all .3s;
    top: 55%;
    opacity: 1;
}

    /* ------------------------------------------------------------------ */
/*---------------------------------- PRODUCT ------------------------------------*/
    /* ------------------------------------------------------------------ */
.product-section {
    background-color: #f5f5f5;
    text-align: center;
}

.product-section .product-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    width: 90%;
    margin: auto;
    margin-top: 100px;
}
.product {
    background-color: #f3f3f3;
    box-shadow: 2px 2px 15px 2px #333;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 100px;
}
.product h3 {
    text-transform: uppercase;
    background-color: #273c75;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 20px 0px;
    margin-bottom: 40px;
}
.product p {
    color: red;
    font-size: 2.5rem;
    margin-bottom: 40px;
}
.product ul{
    margin-bottom: 40px;
    color: #111;
}

.product li {
    margin-top: 15px;
    font-size: 1.3rem;
}

.product .btn {
    margin-bottom: 40px;
    width: 60%;
}

    /* ------------------------------------------------------------------ */
/*---------------------------------- TESTIMONIALS ------------------------------------*/
    /* ------------------------------------------------------------------ */
.testimonials-section {
    background-image: linear-gradient(54deg, rgba(17,7,66,1) 0%, rgba(11,234,244,0.3085609243697479) 100%), url(./img/background2.jpeg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-style: italic;
    line-height: 1.5rem;
    word-spacing: .12rem;

}

.testimonials-section .title-section::after {
    margin-top: 20px;
    width: 13rem;
}

.testimonials-section .testimonials-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.testimonials {
    width: 80%;
    margin: auto;
}
blockquote {
    position: relative;
    margin-bottom: 30px;
}
blockquote::before {
    position: absolute;
    content: "\201C";
    clear: both;
    display: block;
    font-size: 5rem;
    left: -10px;
    top: -5px;
}

.testimonials img{
    height: 80px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}


    /* ------------------------------------------------------------------ */
/*---------------------------------- SPONSOR ------------------------------------*/
    /* ------------------------------------------------------------------ */
.sponsors-section .sponsors-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 50px;
    width: 80%;
    margin: auto;
}
.logo-sponsors {
    text-align: center;
    color: #273c75;
    font-weight: 900;
    font-size: 1.2rem;
}

.logo-sponsors img {
    width: 60%;
    margin: auto;
    margin-bottom: 10px;
}

.logo-sponsors img:hover,
.logo-sponsors img:active {
    transform: scale(1.1);
    transition: all .3s;
}

    /* ------------------------------------------------------------------ */
/*---------------------------------- CONTACTS ------------------------------------*/
    /* ------------------------------------------------------------------ */
.contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: linear-gradient(54deg, rgba(17,7,66,1) 0%, rgba(11,234,244,0.3085609243697479) 100%), url(./img/background5.jpeg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.contact {
    margin: auto;
}
.contact-icon {
    display: flex;
    margin-top: 30px;
    margin-left: 10%;
}

.contact-icon i {
    font-size: 2.5rem;
    margin-left: 10px;
}

.contact-icon i:hover,
.contact-icon i:active {
    transform: scale(1.1);
    color: #d35400;
}

.form {
    background-color: #000000a8;
    display: grid;
    grid-template-columns: 20% 80%;
    width: 80%;
    padding: 5%;
    grid-row-gap: 20px;
    grid-column-gap: 5%;
    vertical-align: middle;
}

.input-comment textarea {
    height: 200px;
}

.input-comment input, textarea{
    height: 2rem;
    width: 90%;
    background-color: #000000a8;    
    color: white;
    font-size: 1.1rem;
    vertical-align: middle;
    border: 1px solid #111;
    outline: none;
    resize: none;
}
.input-comment input:focus, textarea:focus{
    background-color: rgba(0, 0, 0, 0.938);
}

.form .btn {
    grid-column: 1 / 3;
    margin: auto;
    margin-top: 40px;
    width: 80%;
}

    /* ------------------------------------------------------------------ */
/*---------------------------------- FOOTER ------------------------------------*/
    /* ------------------------------------------------------------------ */
.footer {
    height: 80px;
    text-align: center;
    font-size: 1.2rem;
    padding: 30px;
    background-color: #f5f5f5;
    color: #333;
}